@{
    ViewBag.Title = "Unos Korisnika";
}

<p>@ViewBag.Poruka</p>

<form method="post">
    <p><label>Name</label></p>
    <input type="text" name="Name" />
    <p><label>Surname</label></p>
    <input type="text" name="Surname" />
    <p><label>Birth Date (YYYY-MM-DD)</label></p>
    <input type="text" name="Birth_date" />    
    <p><label>Gender</label></p>
    <input type="text" name="Gender" />
    <p><label>Email</label></p>
    <input type="text" name="Email" />
    <p><label>Password</label></p>
    <input type="text" name="Password" />
    <br /><br /><br />
    <input type="submit" value="Submit">
</form>
